<article class="listing">
    <div class="img-container">
        <img src={{place.image}} alt="">
    </div>
    <div class="details-container">
        <h3>{{place.title}}</h3>
        <div class="detail type">
            <span>Type:</span> {{place.type}}
        </div>
        <div class="detail location">
            <span>Location:</span> {{place.city}}
        </div>
        <div class="detail bedrooms">
            <span>About:</span> {{place.description}}
        </div>
    </div>
</article>